.stand-out {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;    
    font-weight: bolder;
    color: blue;
}

.message {
    font-family: cursive;
    font-size: medium;
}

.date {
    color: grey;
    font-size: smaller;
}

.new-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 20px;
    border: 1px solid lightgrey;
    padding: 5px 14px;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5px 20px;
    border: 0.5px solid lightgrey;
    box-sizing: border-box;
}